/* container */
.theme-selector {
  position: relative;
  display: inline-flex;
  padding: 4px;
  background: var(--theme-selector-bg, rgba(128 128 128 / 0.2));
  border-radius: 8px;
}

/* buttons */
.theme-selector button {
  background: none;
  border: 0;
  padding: 8px;
  cursor: pointer;
  color: inherit;
  z-index: 1;
  display: flex;
  justify-content: center;
  transition: color 0.2s ease;
}

.theme-selector button.light-btn:hover {
  color: #e3ed75;
}

.theme-selector button.system-btn:hover {
  color: var(--theme-selector-system-button);
}

.theme-selector button.dark-btn:hover {
  color: #8797d0;
}

/* Remove prefers-color-scheme media query. Use variables. */

.theme-selector .selector-bg {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  width: calc((100% - 8px) / 3);
  background: var(--theme-selector-bg-inner, rgba(255 255 255 / 0.2));
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.selector-bg.light {
  transform: translateX(0);
}
.selector-bg.system {
  transform: translateX(100%);
}
.selector-bg.dark {
  transform: translateX(200%);
}

.selector-bg.light {
  transform: translateX(0);
}
.selector-bg.system {
  transform: translateX(100%);
}
.selector-bg.dark {
  transform: translateX(200%);
}
